<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gmd.plantilla.androidapp">

    <!-- Internet Permissions. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Internet Permissions. -->


    <!-- I/O Permissions. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- I/O Permissions. -->


    <!-- Hardware Permissions. -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Hardware Permissions. -->


    <!-- Map Permissions. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Map Permissions -->
    <application
        android:name=".view.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeGMD">

        <!-- Map Configuration. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Map Configuration. -->


        <!-- GCM Configuration. -->
        <service
            android:name=".remote.FcmMessageHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".remote.FcmIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- GCM Configuration. -->


        <!-- Activities. -->
        <activity android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            >

            </activity>
        <activity android:name=".view.activity.DetalleDiscoActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name=".view.activity.DetalleEventoActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".view.activity.CameraActivity" />
        <activity android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".view.activity.SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.MapActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_mapa_prueba" />

        <activity android:name=".view.activity.PrincipalActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>